/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.6rem;
   /* background-image: url("img/sintonizadores/sintonizadores2.jpg");
    background-attachment: fixed;*/


}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: "Space Grotesk", serif;
    font-size: 0.9rem;
    background-color: rgb(21, 21, 21);

    
}



.seccionPrincipal{
    display: flex;
}

.divContenido{
    width: 90%;
    max-height: 100%;
    border: solid black 0.05rem;
    margin-left: 1rem;
    margin-right: 4rem;
    /*display: none;*/
    padding: 1.5rem;

    animation: opaci 2s, mymove 2s;


}



.divContenidoLunaAnfibia{
    width: 90%;
    height: fit-content;
    color: rgb(245, 245, 245);
  
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 4rem;
    /*display: none;*/
    padding: 2rem;
    padding-inline: 4rem;
    position: relative;
    
    animation: opaci 2s, mymove 2s;
    


}

/*@keyframes mymove {
    from {right: -200px;}
    to {right: 0px;}
  }*/

  @keyframes mymove {
    from {right: -50px;}
    to {right: 0px;}
  }

  @keyframes opaci {
    from {opacity: 0;}
    to {opacity: 100%;}
  }



.divContenidoYaFue{
    width: fit-content;
    height: fit-content;
    margin-left: 1rem;
    margin-right: 4rem;
    /*display: none;*/
    padding: 1.5rem;
    background-color: rgb(21, 21, 21);
    color: rgb(236, 236, 236);
    animation: opaci 2s, mymove 2s;

}


article{
    max-width: 90%;
  
}

.lineaTextoArriba{
    color: rgb(172, 171, 171);
}



header{
    top:0;
    position: sticky;
    
}

h1{
   
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2rem;
    color: rgb(241, 240, 242);
    position: sticky;
    background-color: rgb(21, 21, 21);
    



   /* background-color: rgb(255, 255, 255);*/
   
}



h3{
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.espaciador {
    padding: 0.8rem;
}

h2{
    font-size: 1.2rem;
    font-weight: bold;
}

h4{
    font-weight: bold;
}

.textoChico{
    font-style: italic;
    font-size: 0.8rem;
    color: grey;
    padding-inline: 2rem;

}

.textoChico2{
    font-style: italic;
    font-size: 0.8rem;
    color: grey;

}


.iframeVideos{
    display: flex;
    align-items: center;
}

.iframeVideosYoutube{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;
}

.menuProyectos{
    
    margin-left: 3.3rem;
    padding-inline: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(17, 17, 17);
    border: solid rgb(225, 224, 224) 0.05rem;
    width: 20%;
    height: fit-content;
    line-height: 1rem;
    color: aliceblue;
  
}

a.enlacesMenu {
    list-style: none;
    text-decoration: none;
    color: rgb(227, 223, 223);
}

a.enlacesMenuSeleccionado {
    list-style: none;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 127, 234);

}

a.enlacesMenu:hover {
 
    color: rgb(0, 0, 0);
    background-color: rgb(255, 127, 234);
}


footer{
    bottom: 0;
    position: sticky;
    background-color: white;
    padding-bottom: 0.4rem;
    border-top: solid black 0.05rem;
    
}


.divFooter {
    
    display: flex;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    gap: 2rem;
    justify-content: center;
    font-size: 0.8rem;
    
   
}

.imagenAndTexto{
display: flex;
gap: 3rem;

}

.iframe1{
    width: 45%;
    height: 100%;

}

.video {
    padding: 0.3rem;
    border: solid rgb(219, 215, 215) 0.05rem;
    background-color: black;
}

.imagenSinto{
    width: 100%;
}

.imagenSinto img{

    object-fit: cover;
}

.imagenSinto2{
    width: 100%;

}

.imagenSinto2 img{

    object-fit: cover;
}

.playlistpsrocha{
    width: 30rem;
}

.playlistpsrocha iframe {
    object-fit: cover;
}